mixin reviewForm(rev, bicycle = {}, reviewPosted)
    .bicycle__review-box

        - const idname = reviewPosted ? 'form-review-edit' : 'form-review-create'

        form.bicycle__review-form(id=idname)
            textarea#review-text(name="review" placeholder="Did you try this ? Leave a review....")= reviewPosted && rev && rev.review

            .bicycle__review-content
                .bicycle__review-stars
                    each num in [5, 4, 3, 2, 1]
                        input(type="radio" id=`star${num}` name="rating" value=num)
                        label(for=`star${num}`) #{num} Stars

                - const val = reviewPosted ? 'Edit Review' : 'Submit Review'

                input(type="hidden" value=bicycle.id)#review-bicycle-id
                input(type="hidden" value=rev && rev.id)#review-main-id
                button(type="submit").btn.btn__review#review-rating-btn= val
                